.Header__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 2.5rem;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}

.Header__list > li > a
{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}
